//
// The MIT License (MIT)
//
// Copyright (c) 2013 Thomas Park
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//
$bootstrap-sass-asset-helper: false !default;


/**
 * For background in content areas.
 */

#page.container-fluid {
    padding: 0 (2 * $spacer);
}

#page-login-index #page.container-fluid {
    padding: 0 !important;
    .row {
        margin: 0;
    }
}

#region-main {
    background-color: $card-bg;
}

.headerbkg {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed !important;
}

@if $showheadergradient == 1 {
    .headerbkg {
        height: $headerimagepadding;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    }
    // No image with this layout.  Instead use a gradient.
    .withimage , .default, .customimage {
        background: linear-gradient(to bottom, $perception-base 0%, rgba(0,0,0,0) 100%)!important;
    }
}

div#learningcontent {
    position: relative;
    margin-top: $learningcontentpadding;
    margin-bottom: $gutterwidth;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
    background-color: $card-bg;
    border: 1px solid $card-bg;
}


/* fouisi Default Styling */
.card {
    border: 0;
}

// Forums
.forumpost {
    background-color: $gray-100;
    border-radius: 0;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid $card-bg;
    margin-bottom: 2rem;
}

.forumpost .subject {
    font-size: 1.5rem;
}

.forumpost .content .posting {
    background-color: $card-bg;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid $gray-300;
}


// Scrollbars

#nav-drawer::-webkit-scrollbar {
    width: 7px;
}

#nav-drawer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.6);
    border-radius: 5%;
}

#nav-drawer::-webkit-scrollbar-thumb {
    background-color: darken($brand-primary, 15%);
    outline: 1px solid slategrey;
}

// Blocks

.block-region .card-block .card-title {
    font-size: 1.143rem;
    text-transform: uppercase;
    font-weight: initial;
    background-color: lighten($body-bg, 5%);
    padding: 10px;
    border-radius: $border-radius;
}

// Fixes for phone with main content area

@media screen and (max-width: 576px) {
    #page-course-view-topics .course-content ul.topics li.section {
        padding: 2rem 0;
    }
    .card-block {
        padding: .5rem;
    }
    .section li.activity {
        padding: .5rem;
    }
    .course-content ul.section {
        margin: 0;
    }
    #page.container-fluid {
        padding: 0;
    }
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .p-a-1 {
        padding: 0 !important;
    }
}

// Activity navigation

.course-content .single-section .section-navigation {
    padding: 1rem;
    border-radius: 3px;
    margin: 0!important;
    border-top: 7px solid rgba(0,0,0,.2);
    border-radius: 0;
}
@media screen and (min-width: 576px) {
    /* Breadcrumbs */
    ul.breadcrumb {
        display: inline-block;
        overflow: hidden;
        margin:0px;
        padding:0px;
        background: none;
    }
    ul.breadcrumb a {
        color: $breadcrumb-text-color;
    }
    ul.breadcrumb li {
        text-decoration: none;
        outline: none;
        display: block;
        float: left;
        font-size: 14px;
        line-height: 36px;
        color: $breadcrumb-text-color;
        padding: 0 15px 0 30px;
        background-color: $breadcrumb-bg;
        position: relative;
    }
    ul.breadcrumb li:first-child {
        padding-left: 25px;
        border-radius: 5px 0 0 5px;
    }
    ul.breadcrumb li:first-child:before {
        left: 14px;
    }
    ul.breadcrumb li:last-child {
        border-radius: 0 5px 5px 0;
        padding-right: 20px;
    }
    /*hover/active styles*/
    ul.breadcrumb li.active, .breadcrumb li:hover{
        background-color: $breadcrumb-bg-hover;
    }
    ul.breadcrumb li.active:after, .breadcrumb li:hover:after {
        background-color: $breadcrumb-bg-hover;
    }
    ul.breadcrumb li:after {
        content: '';
        position: absolute;
        top: 0; 
        right: -18px;
        width: 36px; 
        height: 36px;
        transform: scale(0.707) rotate(45deg);
        z-index: 1;
        background-color: $breadcrumb-bg;
        box-shadow:
        2px -2px 0 2px $card-bg, 
        3px -3px 0 2px $card-bg;
        border-radius: 0 5px 0 50px;
    }
    ul.breadcrumb li:last-child:after {
        content: none;
    }
    .breadcrumb-item + .breadcrumb-item::before {
        display: inline-block;
        padding: 0;
        content: "";
    }
    .dir-rtl ul.breadcrumb li:after{
        transform: scale(.707) rotate(315deg);
        box-shadow: -3px -3px 0 1px $card-bg, -2px -3px 0 2px $card-bg;
    }
}

@media screen and (max-width: 576px) {
    .breadcrumb {
        background-color:transparent;
    }
}
