//
// The MIT License (MIT)
//
// Copyright (c) 2013 Thomas Park
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//
$bootstrap-sass-asset-helper: false !default;

.page-context-header .page-header-headings {
    padding: .25rem .5rem;
    background-color: $primary;
    border-radius: .5rem;
    margin-top: 1.25rem;
    margin-bottom: .25rem;
}
div#page-navbar {
    z-index: 1;
}

//Add space on top for fouisi block slider button
.pt-3, .py-3 {
    padding-top: 3rem!important;
}

#region-main {
    border: 1px solid $border-color !important;
    background-color: initial;
}

.pagelayout-mydashboard #region-main {
    background-color: $card-bg;
    padding: 1rem;
}

#page-content .page-context-header .page-header-headings {
    background-color: initial;
}

.page-context-header .page-header-headings h1 {
    color: $white;
    margin: 0;
}

#page-site-index .page-context-header .page-header-headings {
    background-color: transparent;
}

.headerbkg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

//Button fixes for display over images
#page-header .btn.btn-secondary {
    background-color: $white;
}
#page-header .btn.btn-secondary:hover {
    background-color: darken($primary, 10%);
}

div#learningcontent {
    position: relative;
    background-color: transparent;
}

.breadcrumb {
    padding: .25rem .5rem;
    background-color: $card-bg;
    border-radius: $border-radius;
}

@media screen and (max-width: 576px) {
    .breadcrumb {
        background-color:rgba(255,255,255,0.8)!important;
        padding: 1rem;
    }
}


// Scrollbars

#nav-drawer::-webkit-scrollbar {
    width: 7px;
}

#nav-drawer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.6);
    border-radius: 5%;
}

#nav-drawer::-webkit-scrollbar-thumb {
    background-color: darken($brand-primary, 15%);
    outline: 1px solid slategrey;
}


// Fixes for phone with main content area

@media screen and (max-width: 576px) {
    #page-course-view-topics .course-content ul.topics li.section {
        padding: 2rem 0;
    }
    .card-block {
        padding: .5rem;
    }
    .section li.activity {
        padding: .5rem;
    }
    .course-content ul.section {
        margin: 0;
    }
    #page.container-fluid {
        padding: 0;
    }
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .p-a-1 {
        padding: 0 !important;
    }
}

// Activity navigation

.course-content .single-section .section-navigation {
    padding: 1rem;
    border-radius: 3px;
    margin: 0!important;
    border-top: 7px solid rgba(0,0,0,.2);
    border-radius: 0;
}

// Preset specific styling.

@if $spectrumpreset == 1 {
    #page-header .pt-3, #page-header .py-3 {
        padding-top: 0!important;
    }
    div#page-content {
        padding: 0 2rem;
    }
}

@if $modernmoodlepreset == 1 {
    #page-header .pb-3 {
        padding-top: 0!important;
    }
}
