{{#hasfpslideshow}}

<div id="fouisicarousel" class="carousel slide d-none d-sm-block" data-ride="carousel">

  <ol class="carousel-indicators">
    {{#hasslide1}}<li data-target="#fouisicarousel" data-slide-to="0" class="active"></li>{{/hasslide1}}
    {{#hasslide2}}<li data-target="#fouisicarousel" data-slide-to="1"></li>{{/hasslide2}}
    {{#hasslide3}}<li data-target="#fouisicarousel" data-slide-to="2"></li>{{/hasslide3}}
  </ol>

<div class="carousel-inner" role="listbox">

    {{#hasslide1}}
    <div class="carousel-item active">
      <div class="slide1image"></div>
      {{#showtext1}}
      {{#slide1}}
      <div class="carousel-caption d-none d-sm-block">
        <h3>{{{slidetitle}}}</h3>
        <p>{{{slidecontent}}}</p>
      </div>
      {{/slide1}}
      {{/showtext1}}
    </div>
    {{/hasslide1}}
    
    {{#hasslide2}}
    <div class="carousel-item">
      <div class="slide2image"></div>
      {{#showtext2}}
      {{#slide2}}
      <div class="carousel-caption d-none d-sm-block">
        <h3>{{{slidetitle}}}</h3>
        <p>{{{slidecontent}}}</p>
      </div>
      {{/slide2}}
      {{/showtext2}}
    </div>
    {{/hasslide2}}

    {{#hasslide3}}
    <div class="carousel-item">
      <div class="slide3image"></div>
      {{#showtext3}}
      {{#slide3}}
      <div class="carousel-caption d-none d-sm-block">
        <h3>{{{slidetitle}}}</h3>
        <p>{{{slidecontent}}}</p>
      </div>
      {{/slide3}}
      {{/showtext3}}
    </div>
    {{/hasslide3}}

</div>
    <a class="left carousel-control" href="#fouisicarousel" role="button" data-slide="prev">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#fouisicarousel" role="button" data-slide="next">
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sr-only">Next</span>
    </a>
</div>

{{/hasfpslideshow}}